<div class="navbar-wagon">
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Restaurants List", restaurants_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Add New Restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
